
<section class="home-padding-t-150 position-relative" id="home" style="background-size: cover; background-position: center;">
  <div class="bg-overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-lg-8 offset-lg-2 text-white text-center">
              <h4 class="home-small-title">Web Development</h4>
              <h1 class="home-title">Aron Gamble</h1>
              <p class="padding-t-15 home-desc mx-auto">Full Stack Development / Client Side Frameworks / Testing</p>
              <!--<a href="#" class="btn btn-custom margin-t-20">Get Started</a>-->

          </div>
      </div>
  </div>
</section>
<section class="section" id="features">
  <div class="container">
    <div class="row align-items-center">

      <div class="card">

        <div class="col-lg-12 order-2 order-lg-1">
          <div class="features-box mt-5 mt-lg-0">
            <h3>{{ movieItem.Title }}</h3>
            <p class="text-muted web-desc">
              <strong>{{ movieItem.Year }}</strong>
            </p>
            <p class="text-muted web-desc">
              <strong>Plot:</strong> {{ movieItem.Plot }}
            </p>

            

          </div>

          <app-back buttonText="Back"></app-back>
         
        </div>
        


      </div>

    </div>
  </div>
</section>