<section class="section " id="contact">

  <div class="container">

    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="section-title text-center">Movie Search</h1>
        <div class="section-title-border margin-t-20"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="custom-form mt-4 pt-4">
          <div id="message"></div>
          <form method="post" action="#" name="search-form" id="search-form" [formGroup]="searchForm"
            (ngSubmit)="onSubmit()">

            <div class="row">
              <div class="col-lg-4">
                <div class="form-group mt-2">
                  <input name="name" formControlName="name" id="name" type="text" class="form-control"
                    placeholder="Search text" required />
                  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <div *ngIf="name.errors['required']">
                      Search text is required.
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4" *ngIf="showPager()">
                <div class="form-group mt-2">
                  <mat-form-field appearance="fill">
                    <mat-label>Select Page</mat-label>
                    <mat-select [formControl]="page" id="page" (selectionChange)="refreshPage()">
                      <mat-option *ngFor="let page of pages" value="{{page}}">{{page}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-group mt-2">
                  <button type="submit" [disabled]="!searchForm.valid" class="submitBnt btn btn-custom">
                    Search
                  </button>
                  <div id="simple-msg"></div>
                </div>
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>

    <mat-paginator [length]="length" [pageSize]="10" [pageSizeOptions]="pageSizeOptions"
      (page)="pageChanged($event)" hidePageSize="true">
    </mat-paginator>


    <h2 *ngIf="hideNoResults">No Movies Found!!</h2>

    <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let result of results" >
        <mat-expansion-panel-header>
        </mat-expansion-panel-header>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>{{ result.Title }}</strong>

          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div>Year:<span class="text-muted web-desc"> {{ result.Year}}
          </span></div>

        <div> Type:<span class="text-muted web-desc"> {{ result.Type}}
          </span></div>

        <button class="btn btn-custom margin-t-30 waves-effect waves-light" (click)="openDialog(result.imdbID)">More
          Details</button>
        &nbsp;
        <a [routerLink]="['/detail', result.imdbID]" class="btn btn-custom margin-t-30 waves-effect waves-light">More
          Details - Separate Page<i class="mdi mdi-arrow-right"></i></a>

      </mat-expansion-panel>
    </mat-accordion>



  </div>



</section>

<!-- ngIf declarative approach to error modal-->
<app-alert message='error' *ngIf='error' (close)="onHandleError()"></app-alert>

<!-- directive error modal approach-->
<ng-template appPlaceholder></ng-template>